<!-- Breadscrumb Section -->
<div class="breadcrumb-bar">
  <div class="container">
    <div class="row align-items-center text-center">
      <div class="col-md-12 col-12">
        <h2 class="breadcrumb-title">My Reservations</h2>
        <nav aria-label="breadcrumb" class="page-breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a [routerLink]="routes.home1">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">My Reservations</li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</div>
<!-- /Breadscrumb Section -->

<!-- Dashboard Content -->
<div class="dashboard-content">
  <div class="container">
    <div class="dash-listingcontent dashboard-info">
      <div class="dash-cards card">
        <div class="card-header">
          <h4>My Reservations</h4>
        </div>
        <div class="card-body">
          <div class="listing-search">
            <div class="filter-content form-group">
              <div class="group-img">
                <input type="text" class="form-control" placeholder="Search...">
                <i class="feather-search"></i>
              </div>
            </div>
            <div class="sorting-div">
              <div class="sortbyset">
                <span class="sortbytitle">Sort by</span>
                <div class="sorting-select">
                  <select class="form-control select">
                    <option>Newest</option>
                    <option>Oldest</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
          <div class="table-responsive">
            <table matSort class="listing-table datatable" id="listdata-table">
              <thead>
              <tr>
                <th mat-sort-header="details" class="no-sort">Espaces</th>
                <th mat-sort-header="eventName">Event Name</th>
                <th mat-sort-header="eventDate">Event Date</th>
                <th mat-sort-header="eventTime">Event Time</th>
                <th mat-sort-header="numberOfGuests">Number of Guests</th>
                <th mat-sort-header="status">Status</th>
                <th mat-sort-header="Action">Action</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let data of reservations">
                <td>
                  <h6><a (click)="reservationDetails(data.id)">{{data.espace.nom}}</a></h6>
                  <div class="listingtable-rate">
                    <a href="javascript:void(0)" class="cat-icon"><i class="fa-regular fa-circle-stop"></i> {{data.espace.tarif}}</a>
                    <span class="discount-amt">{{data.espace.adresse}}</span>
                  </div>
                  <p>{{data.espace.description}}</p>
                </td>
                <td>{{data.eventName}}</td>
                <td>{{data.eventDate | date:'shortDate'}}</td>
                <td>{{data.eventTime}}</td>
                <td>{{data.numberOfGuests}}</td>

                <td><span [ngClass]="{'unpublish': data.statut === 'Un Published' }" class="status-text">{{data.statut}}</span></td>
                <td>
                  <div class="action">
                    <a href="javascript:void(0)" class="action-btn btn-view"><i class="feather-eye"></i></a>
                    <a href="javascript:void(0)" class="action-btn btn-edit"><i class="feather-edit-3"></i></a>
                    <a href="javascript:void(0)" class="action-btn btn-trash"><i class="feather-trash-2"></i></a>
                  </div>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
          <div class="blog-pagination">
            <nav>
              <ul class="pagination">
                <li class="page-item previtem">
                  <a class="page-link" href="javascript:void(0)"><i class="fas fa-regular fa-arrow-left"></i> Prev</a>
                </li>
                <li class="justify-content-center pagination-center">
                  <div class="pagelink">
                    <ul>
                      <li class="page-item">
                        <a class="page-link" href="javascript:void(0)">1</a>
                      </li>
                      <li class="page-item active">
                        <a class="page-link" href="javascript:void(0)">2 <span class="visually-hidden">(current)</span></a>
                      </li>
                      <li class="page-item">
                        <a class="page-link" href="javascript:void(0)">3</a>
                      </li>
                    </ul>
                  </div>
                </li>
                <li class="page-item nextlink">
                  <a class="page-link" href="javascript:void(0)">Next <i class="fas fa-regular fa-arrow-right"></i></a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /Dashboard Content -->
